<aside id="drawer"
       class="flex flex-col py-4 px-2 bg-white gap-4 drop-shadow-md
              fixed top-0 right-0  w-0 w-[300px] h-screen z-[10000]
                 ease-in-out duration-300"
       [ngClass]="(toggleViewReport || toggleCreateReport)?'translate-x-0':'translate-x-full'">
  <button (click)="disableVisibility();"
          class="flex flex-row justify-start items-center gap-4 w-full h-[60px]">
    <p class="text-xl">Close</p>
    <mat-icon fontIcon="close"></mat-icon>
  </button>
  <app-drawer-show-report *ngIf="pigReport && toggleViewReport" [pigReport]="pigReport"></app-drawer-show-report>
  <app-drawer-create-report *ngIf="toggleCreateReport"></app-drawer-create-report>
</aside>
